<h3>Liste des Listes</h3>
<div *ngIf="!listeDeliste">
   <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="listeDeliste">

    <p>Voici les {{listeDeliste.length}} Listes</p>
<ul>
<li
 *ngFor= "let liste of listeDeliste"
     routerLink="/liste/details/{{liste.id}}"
>

{{liste.libelle}}</li>

</ul>
