<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ applicationName }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/accueil"
        >Accueil</a
      >
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/liste/index"
        >Listes</a
      >
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/liste/create"
        >Ajouter une liste</a
      >
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
Battery : {{ batteryStatus }} X : {{ reading.x }}, Y:{{ reading.y }}, Z:{{ reading.z}}, magnitude :{{ reading.magnitude }}

<div
  style="width:3em;height: 0.2em;background:red;"
  [style.transform]="'rotate(' + reading.magnitude + 'deg)'">
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
